<p>Xin chào <%= @resource.email %>!</p>

<p>Hãy nhấn vào link bên dưới thực hiện khôi phục mật khẩu</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Nếu không phải bạn yêu cầu nó, hãy bỏ qua email này.</p>
<p>Mật khẩu của bạn sẽ không bị thay đổi nếu bạn không nhấn vào link trên để tạo một mật khẩu mới.</p>
